.product-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.product-item {
    border-width: 1px;
    border-radius: 3px;
    border-style: dashed;
    width: 30%;
    margin: 5px;
    padding: 5px;
    text-align: center;
}